body{
    padding: 0;
    margin: 0;
    background-color: #e9ebee;
}
#right-panel{
    position: fixed;
    width: 204px;
    height: 500px;
    right: 0;
    top: 0;
}

#main-panel{
    height: 500px;
    margin-right: 204px;
}

#head{
    position: fixed;
    width: 100%;
    background-color: #3578E5;
    width: calc(100% - 204px);
}
#head ul.menu{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
#head ul.menu li {
    display: inline-block;
}
#head ul.menu a{
    text-decoration: none;
    font-weight: bold;
    line-height: 34px;
}
.logo{
    font-size: large;
}
#main-content{
    padding-top: 44px;
}
.container{
    width: 979px;
    margin-left: auto;
    margin-right: auto;
}
.text-white{
    color: white;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
#left-column{
    width: 160px;
    height: 100px;
}
#left-column ul a{
    text-decoration: none;
    display: block;
    padding: 3px;
}
#left-column ul a.active, #left-column ul a:hover{
    border: 1px solid #dddfe2;
    background-color: #f5f6f7;
    border-radius: 2px;
}
#right-column{
    width: 300px;
    height: 100px;
}
#center-column{
    width: 519px;
    height: 100px;
}
.d-inline-block{
    display: inline-block;
}
.clearfix{
    clear: both;
}
.m-0{
    margin: 0;
}
.mt-10{
    margin-top: 10px;
}
.p-0{
    padding: 0;
}
.list-style-none{
    list-style: none;
}
.text-decoration-none{
    text-decoration: none;
}

.card{
    background-color: white;
    border: solid 1px #dddfe2;
    border-radius: 4px;
}
.card .card-header{
    background-color: #f5f6f7;
    padding: 6px;
    border-bottom: solid 1px #dddfe2;
}